# LINE Developers
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=

# Gmail SMTP（請填 Google App Password，不是一般登入密碼）
GMAIL_ADDRESS=
GMAIL_APP_PASSWORD=

# Google Sheets
GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_BASE64=
